.list-chat {
    padding: 0 8px;
    overflow-y: auto;
    overflow-x: hidden;
    // overflow: hidden;
    height: 90vh;
    width: 100%;

    &::-webkit-scrollbar {
        width: 0px;
    }

    .text-no-friend {
        font-size: 20px;
        font-weight: 500;
        color: rgb(114, 114, 114);
        margin-top: 200px;
    }

    .create-group {
        width: calc(100% - 30px);
        padding: 10px 15px;
        margin-bottom: 30px;
        margin-top: 10px;
        background-color: #fff;
        box-shadow: rgba(70, 70, 70, 0.16) 0px 1px 2px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 500;
        color: rgb(114, 114, 114);
        display: flex;
        justify-content: space-between;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.03);
        }

        .create-group-icon {
            font-size: 30px;
        }
    }
}