.list-chat {
    padding: 0 8px;
    overflow-y: auto;
    overflow-x: hidden;
    // overflow: hidden;
    height: 90vh;
    width: 100%;

    &::-webkit-scrollbar {
        width: 0px;
    }

    .text-no-friend {
        font-size: 20px;
        font-weight: 500;
        color: rgb(114, 114, 114);
        margin-top: 200px;
    }
}