.user-detail {
    text-align: center;
    padding: 30px;
    margin-top: 85px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: rgba(70, 70, 70, 0.16) 0px 1px 2px;

    .avatar {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border-width: 4px;
        border-style: solid;
        border-color: rgb(249, 249, 249);
        box-shadow: 0 3px 5px 0 rgb(0 0 0 / 50%);
    }

    .message {
        margin-top: 30px;
        font-weight: 500;
        font-size: 20px;
        color: rgb(101, 126, 210);
        cursor: pointer;
        transition: transform 0.2s;

        &:hover {
            transform: scale(1.1);
        }
    }
}