.button-auth {
    width: 350px;
    height: 35px;
    border-radius: 18px;
    background-color: rgb(101, 126, 210);
    color: #f2f5fd;
    border-width: 1px;
    border-color: #777;
    margin-bottom: 10px;
}