.input-messager {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    background-color: #fff;

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .none {
        display: none;
    }

    .image-preview-wrap {
        position: relative;

        .image-preview {
            height: 50px;
            width: 50px;
            margin-right: 10px;
            border-radius: 10px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(249, 249, 249);
            box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
            cursor: pointer;
        }

        .video-preview-wrap {
            position: relative;

            .video-preview {
                margin-right: 10px;
                border-radius: 10px;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(249, 249, 249);
                box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
                cursor: pointer;
            }

            .icon-play {
                position: absolute;
                left: 16px;
                top: 16px;
                font-size: 20px;
                color: rgb(60, 101, 236);
                background-color: #fff;
                border-radius: 50%;
            }
        }

        .icon-delete-image {
            position: absolute;
            cursor: pointer;
            top: -14px;
            right: -2px;
            padding: 0 2px;
            font-size: 20px;
            color: rgb(60, 101, 236);
            background-color: #fff;
            border-radius: 50%;
        }
    }

    .icon-image {
        font-size: 20px;
        color: rgb(101, 126, 210);
        margin-right: 10px;
        padding: 9px 10px;
        border-radius: 50%;
        background-color: #f2f5fd;
        cursor: pointer;
        
        &:hover {
            box-shadow: rgba(70, 70, 70, 0.5) 0px 1px 2px;
        }
    }

    .input-wrap {
        display: flex;
        justify-content: space-between;
        padding: 4px 10px 4px 10px;
        border-style: solid;
        border-width: 1px;
        border-color: rgb(205, 205, 205);
        border-radius: 20px;
        width: 100%;

        .input {
            width: calc(100% - 40px);
            border: none;
            
            &:focus {
                outline: none;
            }
        }
    
        .icon-send {
            font-size: 20px;
            color: rgb(101, 126, 210);
        }
    }

    .pasrent-mess-wrap {
        border-style: solid;
        border-width: 1px 0 0 0;
        border-color: rgb(205, 205, 205);
        display: flex;
        justify-content: space-between;

        .parent-mess {
            margin-left: 60px;
            color: #a0a0a0;
        }

        .parent-name {
            color: #535353;

            .answer {
                color: #a0a0a0;
            }
        }

        .icon-close {
            margin-right: 10px;
            font-size: 20px;
            color: #535353;
            cursor: pointer;
        }
    }

    
}