.messager-item {
    margin: 20px 0;
    position: relative;
    // z-index: 10;

    &:hover {
        .action-message {
            display: flex;
        }
    }

    .parent-mess {
        background-color: #f0f0f0;
        padding: 3px 5px;
        color: #777676;
        border-radius: 7px;
        position: absolute;
        top: -25px;
        // z-index: -1;
        box-shadow: rgba(70, 70, 70, 0.5) -2px 1px 2px;
    }

    .action-message {
        display: none;
        align-items: center;
    }
    
    .mess-recive-wrap {
        display: flex;
        position: relative;
        align-items: flex-end;
        margin-left: 15px;

        .avatar {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }

        .content-recive {
            position: relative;
        }

        .name-receive {
            font-size: 12px;
            margin-left: 15px;
            color: rgb(60, 60, 60);
            font-weight: 500;
        }
        
        .mess-receive-wrap {
            display: flex;
            align-items: flex-end;
            position: relative;
            // z-index: 2;

            .mess-receive {
                max-width: 500px;
                padding: 5px 7px;
                margin-left: 10px;
                background-color: #e4e6eb;
                color: rgb(60, 60, 60);
                border-radius: 8px 8px 8px 0;

                .image-mess {
                    max-height: 200px;
                    max-width: 500px;
                    border-radius: 7px;
                    padding-top: 3px;
                    cursor: pointer;
                }
            }
        }
    }

    .mess-send-wrap {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        margin-right: 15px;
        // z-index: 10;

        .mess-send {
            max-width: 70%;
            width: fit-content;
            padding: 5px 7px;
            color: #fcfcfc;
            background-color: rgb(101, 126, 210);
            border-radius: 8px 8px 0 8px;

            .image-mess {
                max-height: 200px;
                max-width: 500px;
                border-radius: 7px;
                padding-top: 3px;
                cursor: pointer;
            }
        }
    }
}