.messager-item {
    margin: 20px 0;
    position: relative;

    &:hover {
        .action-message {
            display: flex;
        }
    }

    .action-message {
        display: none;
        align-items: center;
    }
    
    .mess-recive-wrap {
        display: flex;
        position: relative;
        align-items: flex-end;
        margin-left: 15px;

        .avatar {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }

        .content-recive {
            position: relative;
        }

        .name-receive {
            font-size: 12px;
            margin-left: 15px;
            color: rgb(60, 60, 60);
            font-weight: 500;
        }
        
        .mess-receive-wrap {
            display: flex;
            align-items: flex-end;
            position: relative;

            .mess-receive {
                max-width: 500px;
                padding: 5px 7px;
                margin-left: 10px;
                background-color: #e4e6eb;
                color: rgb(60, 60, 60);
                border-radius: 8px 8px 8px 0;
            }
        }
    }

    .mess-send-wrap {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        margin-right: 15px;

        .mess-send {
            max-width: 70%;
            width: fit-content;
            padding: 5px 7px;
            color: #fcfcfc;
            background-color: rgb(101, 126, 210);
            border-radius: 8px 8px 0 8px;
        }
    }
}