.modal-create-group {

    .title {
        margin-bottom: 20px;
        border-style: solid;
        border-width: 0 0 1px 0;
        padding-bottom: 20px;
        border-color: rgb(187, 187, 187);
    }

    .note-admin {
        margin-top: 20px;
    }

    .radio-wrap {
        display: flex;
        justify-content: space-around;
    }
}