.profile-pending-chat {
    text-align: center;
    margin-top: 50px;
    padding: 20px;

    .avatar-wrap {
        position: relative;

        .avatar-img {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            border-width: 4px;
            border-style: solid;
            border-color: rgb(249, 249, 249);
            box-shadow: 0 3px 5px 0 rgb(0 0 0 / 50%);
        }
    }

    .message-wrap {
        height: calc(100vh - 400px);
        background-color: #fff;
        box-shadow: rgba(70, 70, 70, 0.16) 0px 1px 2px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        margin-top: 30px;
        padding: 20px;

        .message {
            background-color: #e4e6eb;
            color: rgb(60, 60, 60);
            padding: 5px 10px;
            border-radius: 5px 5px 5px 0;
        }

        .send-mess {
            width: calc(100% - 20px);

            .note {
                font-size: 16px;
                color: rgb(105, 105, 105);
                margin: 0 0 10px 10px;
                text-align: start;
            }

            .input-wrap {
                display: flex;
                justify-content: space-between;
                padding: 4px 10px 4px 10px;
                border-style: solid;
                border-width: 1px;
                border-color: rgb(205, 205, 205);
                border-radius: 20px;
                width: 100%;
        
                .input {
                    width: calc(100% - 40px);
                    border: none;
                    
                    &:focus {
                        outline: none;
                    }
                }
            
                .icon-send {
                    font-size: 20px;
                    color: rgb(101, 126, 210);
                }
            }
        }
    }
}